[submodule "themes/educenter"]
	path = themes/educenter
	url = git@github.com:themefisher/educenter-hugo.git
[submodule "themes/wishfund"]
	path = themes/wishfund
	url = https://github.com/themefisher/wishfund-bulma.git
